div {
    text-align: right;
    background: lightgreen;
    font-size: 20px;
}

div.my_menu {
    text-align: left;
    width: 180px;
    background: #fff0cc;
    float: left;
    color: black;
}

.my_menu a {
    color: black;
}

form {
    background-color: pink;
    color: black;
}

body {
    background-color: #ffc0cb; /* или другое значение розового цвета, например, lightpink, hotpink */
    color: #000000;            /* чёрный цвет текста */
}
